{% extends 'crud/base.html' %}
{% block body %}
<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname">Chapeta</label>
        <input type="text" name="firstname" class="form-control" style="width:30%;" required="required"/>
        <label for="lastname">Fecha de ingreso</label>
        <input type="text" name="lastname" class="form-control" style="width:30%;" required="required"/>
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
    </div>
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Chapeta</th>
            <th>Fecha de ingreso</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Editar</a> <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></center></td>
        </tr>
        {% endfor %}
        <tr>
        <td colspan="2">Total</td>
        <td>{{members.count}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
